
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'roboto-condensed';
  src: url(/fonts/RobotoCondensed.ttf);
}

@font-face {
  font-family: 'abeze';
  src: url(/fonts/Abeezee-Regular.ott);
}

@font-face {
  font-family: 'handlee';
  src: url(/fonts/Handlee-Regular.ttf);
}

@font-face {
  font-family: 'AliviaRegular';
  src: url(/fonts/AliviaRegular.ttf)
}

@font-face {
  font-family: 'Exo';
  src: url(/fonts/Exo-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Mulish';
  src: url(/fonts/Mulish.ttf);
}

:root{
  
  --dark-color: #1e2220;
}


body{
  background: var(--dark-color);
  background-blend-mode: overlay;
}


/* iconos de contacto */
.icon-bg {
  background: linear-gradient(135deg, #6a0572, #4b0082, #00ffff, #4b0082, #6a0572);
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-bg:hover{
  opacity: 50%;
}


